<Project>
  <PropertyGroup>
    <OutputPath>$(AppData)/OuterWildsModManager/OWML/Mods/Olallieberry.BorrowedTomorrows</OutputPath>
    <UnityProjectDir>$(SolutionDir)\..\OlallieberryAssets</UnityProjectDir>
    <UnityDLLTargetDir>$(UnityProjectDir)\Assets\Dlls</UnityDLLTargetDir>
  </PropertyGroup>
</Project>